{% extends 'layouts/index.html' %}
{% load humanize %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<h1>{{ title }}</h1>

<div class="info">
  {% for trab in trabajador %}

  <p>{{trab.name}} {{trab.last_name}}</p>
  <p>{{trab.dni}}</p>
  <p>{{trab.phone}}</p>
  <p>{{trab.cargo}}</p>
  <p>{{trab.contratista}}</p>
  {% endfor %}

  <hr />
  <form action="{% url "detail" %}" method="post" >
    {% csrf_token %}

    <div class="form-products">
      {% for producto in productos %}
    <article class="product">
      <strong>{{producto.category}}</strong>
      <h3>{{producto.title}} </h3>
      <p>$ {{producto.price|intcomma }} COP</p>
      <input type="checkbox"  name="prod_id" value="{{producto.id}}" />
    </article>    
    {% endfor %} 
    </div>
   
    <br />
    <input type="submit" value="Comprar" class="btn" />
  </form>
  
</div>
{% endblock %}
