{% extends 'layouts/index.html' %}
{% load humanize %}
{% block title %} {{ title }} {% endblock %}
{% block content %}



<div class="info">
  <h1>{{ title }}</h1>

  {% for trab in trabajador %}
<ul>
  <li>{{trab.name}} {{trab.last_name}}</li>
  <li>{{trab.dni}}</li>
  <li>{{trab.phone}}</li>
  <li>{{trab.cargo}}</li>
  <li>{{trab.contratista}}</li>
</ul>
  

  
</div>
  <form action="{% url "detail" %}" method="post" >
    {% csrf_token %}
<input type="hidden" name="trabajador" value="{{trab.id}}">

 
  {% endfor %}




    <div class="form-products">
      {% for producto in productos %}
    <article class="product">
      <strong>{{producto.category}}</strong>
      <h3>{{producto.title}} </h3>
      <p>$ {{producto.price|intcomma }} COP</p>
      <input type="checkbox"  name="prod_id" value="{{producto.id}}" />
    </article>    
    {% endfor %} 
    </div>
   
    <br />
    <input type="submit" value="Comprar" class="btn" />
  </form>
  

{% endblock %}
