{% extends 'layouts/index.html' %} {% block title %} {{ title }} {% endblock %}
{% block content %}

<h1>{{ title }}</h1>

<div class="info">
  {% for trab in trabajador %}

  <p>{{trab.name}} {{trab.last_name}}</p>
  <p>{{trab.dni}}</p>
  <p>{{trab.phone}}</p>
  <p>{{trab.cargo}}</p>
  <p>{{trab.contratista}}</p>
  {% endfor %}

  <hr />
  <form action="{% url "detail" %}" method="post" >
    {% csrf_token %}

    <div class="form-products">
      {% for producto in productos %}
    <article class="product">
      <img src="{{producto.image.url}}" alt="{{producto.title}}">
      <strong>{{producto.category}}</strong>
      <h3>{{producto.title}} </h3>
      <input type="hidden" name="{{producto.title}}">
      <p> {{producto.price}} </p>
      <input type="hidden" name="{{producto.price}}">
      <input type="checkbox"  name="{{producto.id}}" />
    </article>    
    {% endfor %} 
    </div>
   
    <br />
    <input type="submit" value="Comprar" />
  </form>
  
</div>
{% endblock %}
