.btn {
  padding: 8px;
  background-color: #111;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  transition: all 200ms;
}

.btn:hover {
  background-color: #555;
  color: #eee;
  cursor: pointer;
}
