.table {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 30px;
}

.tb-title {
  background-color: #777;
  color: #fff;
}

.tb-title td {
  margin: 3px;
  padding: 10px 20px;
  text-transform: capitalize;
}

.tb-content {
  background-color: #eee;
  color: #333;
}

.tb-content td {
  margin: 3px;
  padding: 10px 20px;
}
